# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
env/
venv/
ENV/

# Node
node_modules/
client/node_modules/
client/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database & heavy files
data/database.sqlite
*.sqlite
*.sqlite3

# IDE & OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
